.logo{
    width: 20%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.navi{
    background-color: rgb(61, 43, 226);
    width:85%;
    line-height: 50px;
    text-align: center;
    padding-left: 5%;
 
}

a.navigation:hover{
    cursor: pointer;
  background-color: rgb(143, 143, 143);

}